[submodule "src/envs/lb-foraging"]
	path = src/envs/lb-foraging
	url = https://github.com/LIRA-illinois/lb-foraging.git
[submodule "src/envs/gym-multigrid"]
	path = src/envs/gym-multigrid
	url = https://github.com/LIRA-illinois/gym-multigrid.git
