[submodule "src/envs/lb-foraging"]
	path = submodules/lb-foraging
	url = https://github.com/LIRA-illinois/lb-foraging.git
[submodule "src/envs/gym-multigrid"]
	path = submodules/gym-multigrid
	url = https://github.com/LIRA-illinois/gym-multigrid.git
[submodule "src/envs/join1"]
	path = submodules/join1
	url = https://github.com/LIRA-illinois/join1.git
